<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ relative }}assets/themes/anita/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ relative }}assets/themes/anita/css/style.css" rel="stylesheet">

        <!-- Plugin CSS -->
    <link href="{{ relative }}assets/themes/anita/css/owl.carousel.min.css" rel="stylesheet">
    <link href="{{ relative }}assets/themes/anita/css/owl.theme.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Ajax -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
        <!-- Owl Carousel JS -->
    <script src="{{ relative }}assets/themes/anita/resources/scripts/owl.carousel.min.js"></script>

<!--[if lt IE 9]>
<script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
<![endif]-->

<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <!--  <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a> -->
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">WHERE I'VE WORKED</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>


        {{ content }}
    <footer>
        <div class="container">
            <p>
                &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
                <span class="pull-right text-muted">
                    developed by Vivek Poola
                </span>
            </p>
        </div>
    </footer>


{% include JB/analytics %}
<script src="{{ relative }}assets/themes/anita/resources/jquery/jquery.min.js"></script>
<script src="{{ relative }}assets/themes/anita/resources/bootstrap/js/bootstrap.min.js"></script>

<script src="{{ relative}}assets/themes/anita/resources/scripts/owl.carousel.min.js"></script>

{% include themes/anita/scripts.html %}

</body>
</html>
