<div class="row section">

      <div class="container narrow block">
          <div class="col-1-2">
            <p>Formspree is a tool maintained by the <a href="http://assembly.com/formspree">community at Assembly</a>. To contact us send an email to <a href="mailto:team@formspree.io">team@formspree.io</a> or use the form on the right.</p>
          </div>
          <div class="col-1-2">
            <form method="POST" action="////formspree.io/vpoola88@gmail.com">
              <input type="email" name="_replyto" placeholder="Your email">
              <textarea name="message" rows="5" placeholder="Your message"></textarea>
            <input type="text" name="_gotcha" style="display:none">
              <button type="submit" class="btn btn-warning">Submit</button>
            </form>
          </div>
      </div>

  </div>